@page "/"

<div class="container mt-100">
    <h1 class="text-center">Do One Action</h1>
</div>

<BaseButton ClickEvent="@CallConsole" ButtonText="@EntryButton"></BaseButton>

@code
{
    public string EntryButton { get; set; } = "Create the goal";

    private void CallConsole(MouseEventArgs e)
    {
        Console.WriteLine("Clicked!", e);
    }
}