@page "/"
@using do_one_action.Components.Atom

<h1>Do One Action</h1>

<BaseButton ClickEvent="@CallConsole" ButtonText="@EntryButton"></BaseButton>

@code
{
    public string EntryButton { get; set; } = "Create the goal";

    private void CallConsole(MouseEventArgs e)
    {
        Console.WriteLine("Clicked!", e);
    }
}