@page "/"
@using do_one_action.Components.Atom

<h1>Do One Action</h1>

<BaseButton DefalutEvent="@CallConsole"></BaseButton>

@code
{
    private void CallConsole(MouseEventArgs e)
    {
        Console.WriteLine("Clicked!", e);
    }
}